.content{
  background-color: rgb(25, 25, 67);
  color: whitesmoke;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.admin-main{
  padding: 20px 10%;
}

.title{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
}