.content{
  background-color: rgb(25, 25, 67);
  color: whitesmoke;
  flex: 1;
}
.container{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}
.admin-main{
  padding: 20px 10%;
}

.title{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
}
.date-header{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.card{
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid rgb(25, 25, 67);
  padding: 20px;
  overflow-y: hidden;
  overflow-x: auto;
}